# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*$py.class

# ------------------------------
# Virtual Environment
# ------------------------------
venv/
env/
.venv/

# ------------------------------
# Environment Variables (CRITICAL)
# ------------------------------
.env

# ------------------------------
# Django
# ------------------------------
*.log
staticfiles/
media/

# SQLite (if used)
db.sqlite3

# ------------------------------
# OS files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# IDE
# ------------------------------
.vscode/
.idea/

# ------------------------------
# Misc
# ------------------------------
lifecycle_log.txt